$player1-color: #FEC830;
$player2-color: #7935F7;
$center-pile-color: #399BD7;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
  font-size: 2em;
}

main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.player1,
.player2,
.center-pile {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px 20px;

  &__title {
    font-size: 1.2em;
    font-weight: 300;
    border-radius: 7px;
    padding: 5px 10px;
  }

  &__deck {

  }

  &__img {
    width: 200px;
    //border: 2px solid #CB68E3;
    border-radius: 10px;
    margin: 30px 0;
  }

  &__wins {
    margin: 5px;
  }

}

.player1 {
  &__title {
    &--highlight {
      box-shadow: 0 0 5px 5px $player1-color;
    }
  }

  &__img {
    &--highlight {
      box-shadow: 0 0 15px 15px $player1-color;
    }
  }
}

.player2 {
  &__title {
    &--highlight {
      box-shadow: 0 0 5px 5px $player2-color;
    }
  }

  &__img {
    &--highlight {
      box-shadow: 0 0 15px 15px $player2-color;
    }
  }
}

.center-pile {
  &__startbtn {
    &--instruc {
      margin: 10px;
      font-size: 1.2em;
    }
  }
  &__img {
    &--highlight {
      box-shadow: 0 0 15px 15px $center-pile-color;
    }
  }
}

.center-pile {
  &__startbtn {

  }
}

.hidden {
  display: none;
}

/* *** mobile *** */
@media screen and (max-width: 1000px) {
  header {
    padding: 40px 20px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  main {
    margin: 0 20px;
  }

  .player1,
  .player2,
  .center-pile {
    &__img {
      width: 100px;
    }
  }

}
@media screen and (max-width: 460px) {
  main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .player1,
  .player2,
  .center-pile {
    &__img {
      margin: 10px 0;

      &--active {
        box-shadow: 0 0 5px 5px #FEC830;
      }
    }
  }
}
